body {
  background-color: #FFEEF9;
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  background: linear-gradient(-45deg, #FFA789, #FFE939, #B5F67B, #ACFFF8, #DCACFF, #FAACFF);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	animation-duration: 10s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
}

header{
	color: #0038EA
}

h1 {
  color: #0038EA;
  font-family: font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
	color: #0038EA;
  	font-family: font-family: 'Montserrat', sans-serif;

}

div {
	font-family: font-family: 'Montserrat', sans-serif;
	color: #0038EA;
}



